body, div, ul, li, section {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h5 {
    margin: 0
}

#wrap {
    /* width: 1200px; */
    height: 980px;
    background: #ffc800;
    overflow: hidden;
    /* 使下面階梯照片超出頁面部分隱藏 */
    z-index: -1;
}

header {
    width: 100%;
    height: 60px;
    background-color: #01277a;
    /* position: fixed; */
    /* z-index: 99; */
}

.bar {
    /* width: 960px; */
    margin: 0 auto;
    position: relative;
}

.leftbar {
    height: 100px;
    position: absolute;
    left: 100px;
    top: 15px;
}

.rightbar {
    float: right;
    position: absolute;
    right: 100px;
    top: 22px;
}

.rightbar ul li {
    text-align: right;
    /* list-style-type: none; */
    display: inline-block;
    padding: 0 5px;

}

.rightbar a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    
}

.nav2 {
    width: 960px;
    /* height: 300px; */
    margin: 0 auto;
    position: relative;
    /* overflow-x:hidden */
    /* z-index: -1; */
}

.nav2-1 {
    width: 960px;
    /* display: block; */
    position: absolute;
    top: 10%;
    right: 50%;
   
} 

.nav1 img {
    
    clear:right;
    display:block;
    /* 使圖片變成塊級 兩照片才能換行*/
    margin: 0 auto;
} 

.space {
    height: 10px;
    background:#fff;
}

.aa {
   background-color: #ffc800;
   margin-top: 20px;
}

.promise {
    width: 960px;
    /* height: 30px; */
    margin: 0 auto;
}



.promise ul li {
    display:inline-block;
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    background: url(images/check.png) no-repeat;
    padding: 5px 0 10px 50px;
    margin: 10px 30px;
}

.class {
    /* width: 960px; */
    /* margin: 20px auto 0; */
    text-align: center;
    font-size: 26px;
    padding: 30px 0;

}

.day{
    width: 960px;
    height: 600px;
    margin: 0 auto;
}


.day1 {
    width: 100px;
    height: 100px;
    line-height: 1;
    font-weight: 900;
    background: #004371;
    text-align: center;
    font-size: 32px;
    color:#fff;
    border-radius: 50%;
    display:inline-block; 
    padding: 10px 0;
    box-sizing: border-box;
    /* div形狀才不會被撐開 */
    
}

.date {
    font-size: 18px;
    padding-left: 3px;
}

.coach {
    display:inline-block;
    border-top: 1px solid #c5d4e8;
    font-size: 30px;
    color: #0051bd;
    line-height: 1.3;
    width: 65%;
    position: absolute;
    top: 50px;
    padding: 8px 0 0 30px ;
}

.left {
    width: 43%;
    /* height: auto; */
    position: relative;
    display: inline-block;
    margin-right: 50px;
    
}

.team {
    display:inline-block;
    border-top: 1px solid #c5d4e8;
    font-size: 30px;
    color: #0051bd;
    line-height: 1.3;
    width: 65%;
    position: absolute;
    top: 50px;
    padding: 8px 0 0 30px ;
}

.right {
    width: 43%;
    position: relative;
    display: inline-block;
    margin-left: 50px;
    vertical-align: top;
    
}



.dot {
    border:2px dotted #999;
    text-align: center;
    font-size: 23px;
    padding: 10px 20px;
    color:#4595db;
    margin-top: 10px;
}

h5 {
    color:#686868;
    text-align: center;
    padding: 10px;
}

.time {
    margin-top: 3px;
    border-top: 1px solid #7d7d7d;
    border-bottom: 1px solid #7d7d7d

}

.list p {
    font-size: 23px;
    color:#ff8521;
    margin: 8px 0;
}

.list ul li {
    margin-left: 2.5em;
    padding: 5px;
    font-size: 17px;
    color: #666;
    /* line-height: 1.5 */
}

.teacher {
    background: #ddbc61;
    height: 320px;
  
}

.t1 h3, .t1 span {
    color: #01277a;
    margin: 5px 0;
    /* 撐開文字兼間距 */
}

.introduce {
    width: 960px;
    margin: 0 auto;
}

.teacher img {
    width: 180px;
    float: left;
    
}

.t1 {
    float: left;
    width: 29%;
    padding: -20px 15px 30px 0;
    margin: -10px 10px;
}

.feeback {
    text-align: center;
    background: #d9d9d9;
    height: 260px;
    color:#292b2c;
}

.feeback span {
    display: inline-block;
    margin: 15px;
}

.question {
    height: 450px;
}

.qa {
    width: 960px;
    margin: 0 auto;
    border-collapse:separate;
    border-spacing: 0
}

.qa td {
    padding: 15px;
    border: 1px solid #ccc;
    line-height: 25px;
} 


/* border-collapse、border-spacing
都是下在table上 */
/* 邊框樣式 、padding設在最內層的td上 */


/* border-radius設置 */
.qa tr:first-child td:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
  }

.qa tr:last-child td:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius:5px;
  }

  .whiteline {
      width: 100%;
      height: 28px;
  }

  .information {
      background: #01277a;
      height: 560px;
  }

  .class-info {
    width: 960px;
    margin: 0 auto;
    color:#fff;
    /* vertical-align:top; */
  }

  .price {
    border-collapse:collapse;
    border-spacing: 0;
    display: inline-block;
  }

.price th {
    color:#e73e0c;
    background-color: #fff;
}

.price th, .price td {
    border: 1px solid #dadada;
    text-align: center;
    padding: 20px 13px;  
    /* margin: 10px; */
    width: auto;
}

.class-info ul {
    list-style: none;
    display: inline-block;
    /* height: 500px; */
}

iframe {
    width: 45%;
    padding-left: 15px
}

.location {
    max-width: 50%;
    vertical-align: 100%;
    /* 與圖片對齊 */
}

.contact {
    white-space: nowrap;
    font-size: 70%;
}

.buy1, .buy2 {
    line-height: 20px;
    display:inline-block;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    padding: 10px 20px;
    width: 30%;
}

.buy1 {
    background-color: #ea5902;
    border:1px solid #ea5902;
    border-radius: 3px;
    margin-left: 10%;
}

.buy2 {
    background-color: #004EA3;
    border:1px solid #004EA3;
    border-radius: 3px;
    /* margin-left: 10%; */
}

.td1 {
    background: #efefef;
    color: #01277a;
}

.td2 {
    background: #e73e0c
}

.td3 {
    background: #efefef;
    color:#e73e0c;
}

.td4 {
    background:#ff840a;
}

.contact a {
    color:#fff100;
}

.copyright {
    /* margin: 0; */
    text-align: center;
    background: #001e5e;
}

.copyright {
    /* width: 960px; */
    margin: 0 auto;
}
.copyright p {
    font-size: 12px;
    margin: 0;
    padding: 15px;
    color:#fff;
}


